[submodule "Logos"]
    path = Logos
	url = git@github.com:Salient/Docudrama.git
    branch = Logos
    update = rebase
[submodule "Acronyms"]
    path = Acronyms
	url = git@github.com:Salient/Docudrama.git
    branch = Acronyms
    update = rebase
[submodule "Utilities"]
    path = Utilities
	url = git@github.com:Salient/Docudrama.git
    branch = Utilities
    update = rebase
[submodule "Markings"]
    path = Markings
	url = git@github.com:Salient/Docudrama.git
    branch = Markings
    update = rebase
[submodule "Connectors"]
	path = Connectors
	url = git@github.com:Salient/Docudrama.git
	branch = Connectors
    update = rebase
